name: ci

on:
  push:
    paths:
      - src/**
      - .github/workflows/ci.yaml
    branches:
      - main

jobs:
  docker:
    runs-on: ubuntu-latest #self-hosted
    steps:
      - name: Short SHA
        run: echo "SHORT_SHA=$(echo ${GITHUB_SHA} | cut -c1-7)" >> $GITHUB_ENV
      -
        name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      -
        name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: rafahueb/flask-beta3:${{ env.SHORT_SHA }}